
<div class='custom-form'>
<%= form_for(@comment) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body , class:'form-label'%>
    <%= form.text_field :body, class:'form-control' %>
  </div>

<div class="field">
    <%= form.number_field :task_id,  type: :hidden %>
  </div>
   <div class="field">
    <%= form.number_field :user_id, id: :task_user_id, type: :hidden%>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-outline-success centr_button'%>
  </div>
<% end %>
</div>