<div class='project_show'>

<div class='card'>
<div class='card-body'>
<div class='card-title'>
  <%= @task.title %>
</div>
<div class='card-text'>
<p>
  <b>Description:</b>
  <%= @task.description %>
</p>
<p>
  <b>Due date:</b>
  <%= @task.due_date %>
</p>
<p>
  <b>End date:</b>
  <%= @task.end_date %>
</p>
<p>
  <b>Start date:</b>
  <%= @task.start_date %>
</p>
<p>
  <b>Story point:</b>
  <%= @task.story_point %>
</p>
<p>
  <b>Task type:</b>
  <%= @task.task_type %>
</p>
<p>
<span class="badge alert-info">
   <b>Priority:</b>
 <%= @task.priority %>
</span>
<p>

<span class="badge alert-info">
  <b>Status</b>
  <%= @task.status %>
</span>

<div>
<b>Attachments</b>
<% @task.attached_files.each do |a| %>
<p><a href=<%= rails_blob_path(a)%> target='blank'><%=a.filename%></a>
<%end%>

</div>

</div>
</div>
<div class='card-footer'>
<%= link_to 'Edit', edit_project_task_path(@task.project, @task),class: 'btn btn-primary'  %> |
<%= link_to 'Delete',[@task.project, @task], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>
</div>


<hr/>





<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Sub Tasks</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Comments</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
  

    <hr/>

  <div class='custom-form'>
<%= form_for(@sub_task) do |form| %>
  <% if @sub_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sub_task.errors.count, "error") %> prohibited this sub_task from being saved:</h2>

      <ul>
        <% @sub_task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title , class:'form-label'%>
    <%= form.text_field :title , class:'form-control'%>
  </div>

  <div class="field">
    <%= form.label :status , class:'form-label'%>
    <%= form.select :status, options_for_select(["In Progress", "On Hold","Completed"]) , class:'form-control'%>
  </div>


<div class="field">
    <%= form.number_field :task_id, value: @task.id, type: :hidden %>
  </div>


  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-outline-success login_signup'%>
  </div>
<% end %>

</div>


<% if @sub_tasks.count != 0%>
<div class='card_container container'>
    <% @sub_tasks.each do |sub_task| %>
      <div class='col-xl-3 col-md-4'>
        <p><%= sub_task.title %></p>
        <span class="badge alert-info">
          <%=sub_task.status %>
        </span><br/>
        <%= link_to 'Edit', edit_sub_task_path(sub_task), class: 'btn btn-primary' %>
   <%= link_to 'Destroy', sub_task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    <% end %>
<%else %>
<p class='nothing-here'>No SubTasks Yet!</p>

<%end%>
</div>
</div>


  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
  


  <tbody>
  <% if @comments.count !=0 %>
    <% @comments.each do |comment| %>
      <div class='comment-container container'>
        <i><%= comment.body %></i>
        <div>
        <td><%= link_to 'Edit', edit_comment_path(comment) , class: 'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } ,class: 'btn btn-danger' %></td>
        </div>
      </div>
    <% end %>
    <% else %>
    <p class='nothing-here'>No Comments Yet!</p>
    <% end %>
  </tbody>
</table>



<hr/>


<div class='custom-form'>
<%= form_for(@comment) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body , class:'form-label'%>
    <%= form.text_field :body, class:'form-control' %>
  </div>

<div class="field">
    <%= form.number_field :task_id, value: @task.id, type: :hidden %>
  </div>
   <div class="field">
    <%= form.number_field :user_id, id: :task_user_id,  value: current_user.id, type: :hidden%>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-outline-success login_signup'%>
  </div>
<% end %>
</div>
</div>
</div>
</div>