<div class='projects_index'>
<h1>PROJECTS <span class='count'><%= @projects.count %></span></h1>

<%= link_to 'ADD A NEW PROJECT', new_project_path%>


<div class='row'>
<div class= 'col'>
<h5>On Hold <span class='count'><%= @projects_on_hold.length %></span></h5>
<% @projects_on_hold.each do |p| %>
<div class='project_view'>
<p><%= p.title %></p>
<%= link_to 'Detail View >', p%>
</div>
<% end %>
</div>
<div class= 'col'>
<h5>In Progress <span class='count'><%= @projects_in_progress.length %></span></h5>
<% @projects_in_progress.each do |p| %>
<div class='project_view'>
<p><%= p.title %></p>
<%= link_to 'Detail View >', p%>
</div>
<% end %>
</div>
<div class= 'col'>
<h5>Completed <span class='count'><%= @projects_completed.length %></span></h5>
<% @projects_completed.each do |p| %>
<div class='project_view'>
<p><%= p.title %></p>
<%= link_to 'Detail View >', p%>
</div>
<% end %>
</div>
</div>
</div>