<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @project.due_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<hr/>

<%= form_for([@task.project, @task])  do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br />
    <%= f.date_select :due_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :story_point %><br />
    <%= f.text_field :story_point %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :task_type %><br />
    <%= f.text_field :task_type %>
  </div>

 <div class="field">
    <%= f.number_field :project_id, value: @project.id %>
  </div>
   <div class="field">
    <%= f.number_field :user_id, id: :task_user_id,  value: current_user.id, type: :hidden %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<hr />

<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Due date</th>
    <th>End date</th>
    <th>Start date</th>
    <th>Story point</th>
    <th>Status</th>
    <th>Task type</th>
    <th>Projects</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<% @project.tasks.each do |task| %>
<% if task.persisted? %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.description %></td>
    <td><%= task.due_date %></td>
    <td><%= task.end_date %></td>
    <td><%= task.start_date %></td>
    <td><%= task.story_point %></td>
    <td><%= task.status %></td>
    <td><%= task.task_type %></td>
    <td><%= task.project %></td>
    <td><%= task.user %></td>
    <td><%= link_to 'Show', [task.project, task] %></td>
    <td><%= link_to 'Edit', edit_project_task_path(task.project, task) %></td>
    <td><%= link_to 'Destroy', [task.project, task], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end%>
<% end %>
</table>

